:root {
  /* COLOURS */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --body-text: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* FRONTEND MENTOR FOOTER STYLE */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--body-text);
}
.attribution a {
  color: lightyellow;
  text-decoration: underline;
}

/* LOCAL STYLES  */
body {
  background-color: var(--violet);
  margin: 0 auto;
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 375px;
  margin-block-start: 3.5rem;
}

.brand-img {
  height: 3rem;
  width: 13rem;
  margin-inline-start: 3.5rem;
  margin-block-end: 6.5rem;
}

.hero-img {
  width: 30rem;
  height: 21rem;
  margin: 0 auto;
  margin-block-end: 7rem;
}

.main-content {
  color: var(--body-text);
  text-align: center;
}

.hero-headline h1 {
  font-family: 'Poppins', sans-serif;
  padding: 0 5.5rem;
  line-height: 4rem;
  font-size: 2.4rem;
  font-weight: 600;
  margin-block-end: 1.8rem;
}

.hero-subtext {
  font-family: 'Open Sans', sans-serif;
  padding: 0 3.7rem;
  line-height: 3rem;
  font-size: 1.8rem;
  margin-block-end: 2.5rem;
}

.hero-btn {
  width: 20rem;
  height: 4rem;
  border-radius: 50px;
  background-color: var(--body-text);
  color: var(--violet);
  margin-block-end: 6.3rem;
  border: none;
}

.hero-btn:hover {
  cursor: pointer;
  background-color: var(--soft-magenta);
}

.social-links {
  width: 11rem;
  height: 4rem;
  margin: 0 auto;
  color: var(--body-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border: 1px solid var(--body-text);
  margin-right: 1rem;
}

.icon:nth-child(3) {
  margin-right: 0;
}

/* Desktop: 1440px */
